body {
    height: 100%;   
    margin: 0;
    display: flex;   
    justify-content: center;   
    align-items: center;     
    font-family: Arial, Helvetica, sans-serif;  
    background-color: lightgrey;
}

.main { 
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.nav{
    height: 20%;
    background-color: white;
    box-sizing: border-box;
}

.nav > ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}
.nav > li {
    list-style: none; 
    padding: 0;
    margin: 0;
}
  
.menu {
    display: flex;
}
  
.menu > li {
    position: relative; 
}
  
.menu > li > a {
    display: block;
    padding: 15px 20px;
    border: 1px solid grey;
    background-color: white;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}
  
.submenu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    margin: 0;
    padding: 0;
    flex-direction: column;
    list-style: none;
}
  
.submenu > li > a {
    display: block;
    padding: 15px 20px;
    border: 1px solid grey;
    background-color: white;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
}
  
.menu > li:hover > .submenu {
    display: flex;
}

.article {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    padding: 20px;
    align-items: flex-start;
    height: 70%;
}

.row1 {
    width: 48%; 
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}
.row2 {
    width: 48%; 
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
} 

.row2 ol li{
    padding: 10px;
    margin: 10px;
}
.row2 > table td,
.row2 > table th {
    padding: 20px;  
    box-sizing: border-box;
    text-align: center; 
    vertical-align: middle;
}

.footer{
    clear: both;
    float: left;
    width: 100%;
    height: 20%;
    background-color: white;
}

.footer > p{
    width: 33%;
    float: left;
    text-align: center;
}
.footer >p:nth-child(2){
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

h2, h3{
    font-size: 30px;
}

p{
    color: grey;
}